# M-Flash configuration.
# Commandline parameters override values in the configuration file.
# execthreads=2
# configuration for 4GB
memorysize = 8589934592
cachesize = 2097152
filetype = edgelist
edgeseparator =  
file = /data/hugo-data/hugo-others/datasets/powerlawgraph
iterative = 0
niters = 1
#check_ids = 1
